.filters {
  display: flex;
  align-items: end;
  gap: 18px;

  width: fit-content;
  margin: 0 auto;
  margin-bottom: 50px;
}

.filterLabel {
  display: block;
  margin-bottom: 8px;

  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: var(--secondary-text-clr);
}

.distanceFilter {
  display: flex;
  align-items: center;
}

.distanceForm:nth-child(1) {
}

.distanceForm:nth-child(1) {
}

.catalogList {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 29px;

  margin-bottom: 100px;
}

.loadmoreBtn {
  display: block;
  margin: 0 auto;
  margin-bottom: 100px;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration-line: underline;
  color: var(--primary-clr);
}
