@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&family=Montserrat:wght@400;600&display=swap");

:root {
  --container-width: 1184px;
}

[data-theme="light"] {
  --primary-clr: #3470ff;

  --main-bg-clr: #ffffff;
  --secondary-bg-clr: #f7f7fb;
  --backdrop-clr: rgba(18, 20, 23, 0.5);

  /* TEXT */
  --main-text-clr: #121417;
  --secondary-text-clr: #8a8a89;
  --translucency-text-clr: rgba(18, 20, 23, 0.5);
  --highly-translucent-text-clr: rgba(18, 20, 23, 0.2);

  /* Button */
  --btn-text-clr: #ffffff;
  --btn-hover-bg-clr: #0b44cd;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;

  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
input,
button {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  font-style: normal;
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  user-select: none;
  border: none;
  background-color: transparent;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

#root {
  height: 100%;
}
